* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.3rem;
}

h4 {
    color: white;
    font-size: 1.2rem;
}

p {
    color: rgb(162, 159, 159);
    font-size: 1.3rem;
    font-weight: 250px;
}

.color-highlights {
    color: hsl(180deg 54% 49%);
    cursor: pointer;
}

/* header design starts here */
li,
a,
button {
    font-size: 19px;
    color: hsl(0, 0%, 90%);
    text-decoration: none;
    font-weight: 395;
}

header {
    position: relative;
    display: flex;
    height: 111px;
    justify-content: space-between;
    align-items: center;
    padding-left: 250px;
    background-color: #0e0e0e;
}

header h3 {
    position: absolute;
    left: 286px;
    bottom: 13px;
    font-size: 1.6rem;
}

.logo {
    width: 84px;
}

.nav-links {
    margin-top: 23px;
}
.nav-links ul{
    margin-top: 35px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
}

.nav-links ul li a{
    padding: 18px 35px;
}

.nav-links ul li a:hover {
    background-color: #f76241;
    transition: 0.3s;
}

.call-btn {
    background-color: #31d0d2;
    padding: 18px 25px;
    margin-top: 61px;
    border: none;
    color: white;
}

.call-btn a{
    font-weight: 700;
}

.call-btn img {
    width: 17px;
    margin: -6px 5px;
}

/* header design ends here */

/* slider design starts here */

.slider-bg {
    position: relative;
    background-image: url(images/slider-bg.jpg);
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
}

.main-div {
    position: absolute;
    background-color: #fff;
    width: 527px;
    height: 186px;
    padding: 32px 0px 0 32px;
    top: 270px;
    left: 242px;
    opacity: 0.9;
}

.text-div p{
    color: #292727;
    font-weight: 395;
    font-size: 18px;
}

.icon-div {
    position: relative;
}

.icon-sub-div {
    position: absolute;
    right: 30px;
    bottom: -45px;
}

.icon-sub-div span img {
    width: 30px;
}

/* slider design starts here */

.side-bar {
    position: relative;
}

.side-menu {
    position: absolute;
    right: 0px;
}

.side-bar1 ul {
    list-style-position: inside;
    list-style-image: url(images/side-menu-list-style.png);
}

.side-bar1 ul li {
    background-color: #0e0e0e;
    width: 213px;
    height: 62px;
    margin: 3px 0;
    padding: 18px;
    color: hsl(0deg 0% 90%);
    cursor: pointer;
}

.side-bar1 ul li span{
    position: relative;
    padding-left: 10px;
}

.side-bar2 ul {
    list-style-position: inside;
    list-style-image: url(images/side-menu-list-style.png);
}

.side-bar2 ul li {
    background-color: #f76241;
    width: 213px;
    height: 62px;
    margin: 3px 0;
    padding: 20px;
    cursor: pointer;
}

.side-bar2 ul li span{
    position: relative;
    padding-left: 10px;
}

/* progress design starts here */
/* #region progress design starts here */

.progress {
    padding-top: 150px;
    max-width: 1376px;
    margin: 0 auto;
    text-align: center;
}

.progress p {
    line-height: 30px;
    color: #292727;
    font-weight: 390;
    font-size: 20px;
}

/* #endregion */
/* progress design ends here */

/* projects design starts here */

.projects {
    margin-top: 121px;
}

.featured-projects {
    width: 640px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 263px;
    box-shadow: 0.01px 0.5px 0.05px 0.03px lightgray;

}

.residential-bg {
    width: 38px;
    height: 32px;
    background: url(images/residential.png) -23px 0;
    background-repeat: no-repeat;
    zoom: 1.25;
}

.residential {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.5px 0.01px 0.5px 0.03px lightgray;
    flex-basis: 35%;
}

.comertial {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comertial-bg {
    width: 38px;
    height: 32px;
    background: url(images/commercial.png) -24px 5px;
    background-repeat: no-repeat;
    zoom: 1.25;
}

.cards {
    display: flex;
    justify-content: space-between;
    max-width: 1376px;
    margin: 0 auto;
}

.card {
    width: 337px;
    height: 438px;
    cursor: pointer;

}

.card-bg-image1 {
    background-image: url(images/building1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-bg-image2 {
    background-image: url(images/building2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-bg-image6{
    background-image: url(images/explore.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    opacity: 0;
}

.card-bg-image1:hover .card-bg-image5{
    display: none;
}

.card-bg-image1:hover .card-bg-image6{
    opacity: 0.9;
    transition: 0.3s;
}

.card-bg-image2:hover .card-bg-image5{
    display: none;
}

.card-bg-image2:hover .card-bg-image6{
    opacity: 0.9;
    transition: 0.3s;
}
.card-bg-image3:hover .card-bg-image5{
    display: none;
}

.card-bg-image3:hover .card-bg-image6{
    opacity: 0.9;
    transition: 0.3s;
}
.card-bg-image4:hover .card-bg-image5{
    display: none;
}

.card-bg-image4:hover .card-bg-image6{
    opacity: 0.9;
    transition: 0.3s;
}
.card-bg-image3 {
    background-image: url(images/building3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-bg-image4 {
    background-image: url(images/building4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-bg-image5 {
    background-image: url(images/text-backgorund.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 97px;
    text-align: center;
}

.card-bg-image5 span {
    color: hsl(0, 0%, 75%);
    font-size: 17px;
    font-weight: 400;
}

.card-bg-image5 h4 {
    color: #0e0e0e;
    width: 69%;
    margin: 0 auto;
    padding-top: 15px;
    font-size: 1.5rem;
}

/* projects design ends here */

/* about us section design starts here */
.about-us {
    width: 1376px;
    margin: 0 auto;
    margin-top: 70px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.left-main-div {
    flex-basis: 55%;
    text-align: justify;
}

.left-main-div>section {
    overflow: auto;
}

.right-main-div {
    flex-basis: 41%;
    text-align: justify;
    border-left: 5px solid hsl(0, 0%, 90%);
}

.right-main-div1 {
    padding-top: 14px;
    padding-left: 45px;
    background-image: url(images/about-us-list-style.jpg);
    background-repeat: no-repeat;
    background-size: 0.5rem;
    background-position: 0px 25px;
}

.right-main-div2 {
    padding-top: 40px;
    padding-left: 45px;
    background-image: url(images/about-us-list-style.jpg);
    background-repeat: no-repeat;
    background-size: 0.5rem;
    background-position: 0px 50px;
}

.left-main-div .div1 {
    width: 40%;
    float: left;
}

.left-main-div .div2 {
    width: 55%;
    float: right;
}
.div2 p{
    font-size: 1.8rem;
    font-weight: 389;
    color: #292727;
}
.div3 p{
    font-size: 22px;
}

.right-main-div .right-main-div1 h3{
    color: #292727;
    font-weight: 400;
}

.right-main-div .right-main-div2 h3{
    color: #292727;
    font-weight: 400;
}

.common-font-size{
    font-weight: 395;
    font-size: 18px;
    color: #292727;
}

.left-main-div .div1 img {
    width: 100%;
}

/* about us section design starts here */

/* footer design starts here */

.footer {
    margin-top: 150px;
    background: #000;
    color: hsl(0, 0%, 90%);
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 1376px;
    margin: 0 auto;
    padding: 90px 0;
    text-align: justify;
}

.flex-container h3 {
    color: white;
    font-size: 1.5rem;
}

.footer-div1 {
    flex-basis: 25%;
    padding-top: 13px;
}

.footer-div1 p {
    line-height: 29px;
    font-weight: 390;
    font-size: 18px;

}

.footer-div2 {
    flex-basis: 14%;
}

.footer-div3 {
    flex-basis: 20%;
}

.footer-div4 {
    flex-basis: 22%;
    padding: 13px;
}

.sub-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hr-div {
    flex-basis: 70%;
}

.img-div {
    flex-basis: 30%;
    text-align: end;
}

.img-div img {
    width: 70%;
}

.common-sub-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-div1 {
    flex-basis: 60%;
}

.sub-div2 {
    flex-basis: 30%;
}

.sub-div2 img {
    width: 50px;
}

.footer-div2 ul {
    list-style-position: inside;
    list-style-image: url(images/play-small-grey.png);
}

.footer-div2 ul li {
    line-height: 44px;
    font-size: 18px;
    font-weight: 390;
    color: #888282;
    cursor: pointer;
}

.footer-div2 ul li span{
    position: relative;
    padding-left: 5px;
}

.footer-div2 ul li:hover{
    color: hsl(0, 0%, 90%);
}

.footer-div3 .sub-div3 p{
    font-size: 18px;
    font-weight: 390;
    color: rgba(255, 255, 255, 0.733);
}

input {
    width: 100%;
    padding: 15px 20px;
    font-size: 1rem;
}

button {
    background-color: #31d0d2;
    padding: 10px 25px;
    margin: 10px 0px;
    cursor: pointer;
}

.sub-div4 {
    display: flex;
    margin-top: 10px;
}

.sub-div4 a {
    height: 100%;
    width: 100%;
    display: block;
}

#fb_icon {
    width: 32px;
    height: 38px;
    background: url(images/facebook-icon.png) 0 0;
    margin-right: 3px;
}

#twiter_icon {
    width: 33px;
    height: 38px;
    background: url(images/twitter-icon.png) -31px 0;
    margin-right: 3px;
}

#In_icon {
    width: 33px;
    height: 38px;
    background: url(images/linked-in-icon.png) -31px 0;
    margin-right: 3px;
}

#mail_icon {
    width: 33px;
    height: 38px;
    background: url(images/mail-icon.png) -31px 0;
    margin-right: 3px;
}

#edit_icon {
    width: 33px;
    height: 38px;
    background: url(images/edit-icon.png) -31px 0;
}

/* footer design endss here */