*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 3.2rem;
}
h2{
    font-size: 2.3rem;
}
h4{
    color: white;
    font-size: 1.2rem;
}
p{
    color: rgb(162, 159, 159);
    font-size: 1.3rem;
    font-weight: 250px;
}
.color-highlights{
    color: hsl(180deg 54% 49%);
}

/* header design starts here */
li, a, button{
    font-size: 20px;
    color: hsl(0, 0%, 90%);
    text-decoration: none;
}

header{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding-left: 250px;
    background-color: #0e0e0e;
}
.logo{
    width: 75px;
}
.nav-links{
    margin-top: 11px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 30px;
    padding-top: 35px;
}
.nav-links ul li a:hover{
    background-color: #f76241;
    padding: 15px 25px;
    transition: 0.3s;
}

.call-btn{
    background-color: #31d0d2;
    padding: 15px 25px;
    margin-top: 54px;
    border: none;
}

/* header design ends here */

/* slider design starts here */

.slider-bg{
    background-image: url(images/slider-bg.jpg);
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
}

/* slider design starts here */

.side-bar{
    position: relative;
}
.side-menu{
    position: absolute;
    right: 0px;
}
.side-bar1 ul{
    list-style-position: inside;
    list-style-image: url(images/side-menu-list-style.png);
}
.side-bar1 ul li{
    background-color: #0e0e0e;
    width: 213px;
    height: 62px;
    margin: 3px 0;
    padding: 18px;
    color: rgb(162, 159, 159);
}

.side-bar2 ul{
    list-style-position: inside;
    list-style-image: url(images/side-menu-list-style.png);
}
.side-bar2 ul li{
    background-color: #f76241;
    width: 213px;
    height: 62px;
    margin: 3px 0;
    padding: 20px;
}

/* progress design starts here */

.progress{
    padding-top: 150px;
    max-width: 1376px;
    margin: 0 auto;
    text-align: center;
}
.progress p {
    line-height: 30px;
}

/* progress design ends here */

/* projects design starts here */

.projects{
    margin-top: 150px;
}
#residential{
    width: 27px;
    height: 24px;
    background: url(images/residential.png) -22px 0;
}
.cards{
    display: flex;
    justify-content: space-between;
    max-width: 1376px;
    margin: 0 auto;
}
.card{
    width: 337px;
    height: 520px;
}
.card img{
    width: 100%;
    height: 100%;
}

/* projects design ends here */

/* about us section design starts here */
.about-us{
    width: 1376px;
    margin: 0 auto;
    margin-top: 70px;
}
.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 30px;
}
.flex-container .right-main-div h3{
    color: #0e0e0e;
}
.left-main-div{
    flex-basis: 55%;
    text-align: justify;
}
.left-main-div > section{
    overflow: auto;
}
.right-main-div{
    flex-basis: 41%;
    text-align: justify;
    border-left: 5px solid rgb(162, 159, 159);
    padding-left: 45px;
    background-image: url(images/about-us-list-style.jpg);
    background-repeat: no-repeat;
    background-size: 0.5rem;
    background-position: 0px 25px;
}
.right-main-div1{
    padding-top: 14px;
}
.right-main-div2{
    padding-top: 40px;
}
.left-main-div .div1{
    width: 40%;
    float: left;
}
.left-main-div .div2{
    width: 55%;
    float: right; 
}

.left-main-div .div1 img{
    width: 100%;
}
/* about us section design starts here */

/* footer design starts here */

.footer{
    margin-top: 150px;
    background: #000;
}
.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between ;
    width: 1376px;
    margin: 0 auto;
    padding: 90px 0;
    text-align: justify;
}
.flex-container h3{
    color: white;
    font-size: 1.5rem;
}
.footer-div1{
    flex-basis: 25%;
    padding-top: 13px;
}
.footer-div1 p{
    line-height: 29px;

}
.footer-div2{
    flex-basis: 14%;
}
.footer-div3{
    flex-basis: 20%;
}
.footer-div4{
    flex-basis:22%;
    padding: 13px;
}
.sub-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hr-div{
    flex-basis: 70%;
}
.img-div{
    flex-basis: 30%;
    text-align: end;
}
.img-div img{
    width: 70%;
}
.common-sub-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-div1{
    flex-basis: 60%;
}
.sub-div2{
    flex-basis: 30%;
}
.sub-div2 img{
    width: 50px;
}
.footer-div2 ul{
    list-style-position: inside;
    list-style-image: url(images/play-small-grey.png);
}
.footer-div2 ul li{
    line-height: 44px;
}
input{
    width: 100%;
    padding: 15px 20px;
    font-size: 1rem;
}
button{
    background-color: #31d0d2;
    padding: 10px 25px;
    margin: 10px 0px;
}
.sub-div4{
    display: flex;
    margin-top: 10px;
}
.sub-div4 a{
    height: 100%;
    width: 100%;
    display: block;
}
#fb_icon{
    width: 32px;
    height:  38px;
    background: url(images/facebook-icon.png) 0 0;
    margin-right: 3px;
}
#twiter_icon{
    width: 33px;
    height: 38px;
    background: url(images/twitter-icon.png) -31px 0;
    margin-right: 3px;
}
#In_icon{
    width: 33px;
    height: 38px;
    background: url(images/linked-in-icon.png) -31px 0;
    margin-right: 3px;
}
#mail_icon{
    width: 33px;
    height: 38px;
    background: url(images/mail-icon.png) -31px 0;
    margin-right: 3px;
}
#edit_icon{
    width: 33px;
    height: 38px;
    background: url(images/edit-icon.png) -31px 0;
}
/* footer design endss here */